<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-white">
        <div class="navbar navbar-inverse navbar-fixed-top"></div>
        <ul class="nav navbar-nav mr-auto">
            <li>
                <div id="box_logo">
                    <img id="logo" src="{% static 'css/alpha2.png' %}" alt="alpha">
                    <a href="/home">
                        <p style="color: black; display: inline-block; padding-top: 9px; font-size: 25px;">Alpha Budgets
                        </p>
                    </a>
                </div>
            </li>
        </ul>
        <ul class="nav navbar-nav">
            <li>
                <div>
                    <a class="btn default" id="link_marg" href="/register_page">Register</a>
                </div>
            </li>
            <li>
                <div>
                    <a class="btn default" id="link_marg" href="/sign_in">Login</a>
                </div>
            </li>
        </ul>
        </div>
    </nav>
    <div id="background2">
        <div class="container">
            <div class="row" style="padding: 20px;">
                <div style="margin-left: 40px;" class="col-sm, boxes">
                    <h2 class="bold">About us</h2>
                    <p style="margin-top: 16px;">Integrated calendar system to keep track of your income weekly Lorem
                        ipsum dolor sit amet consectetur adipisicing elit. Nobis maxime nemo quas modi, necessitatibus
                        voluptas repellendus rem voluptates, doloremque aperiam officia eligendi in! Sed impedit
                        suscipit quidem a magni! Necessitatibus!</p>
                </div>
                <div class="col-sm, boxes">
                    <h3 class="bold">Keep track of your budgets</h3>
                    <p style="margin-top: 20px;">Easily create budgets and customizable budgeting options Lorem ipsum
                        dolor sit amet consectetur, adipisicing elit. Ut quas porro nulla molestiae est, laborum fugiat
                        possimus nam numquam voluptate rem labore, quidem, corrupti consectetur! Quae dolorem ratione
                        earum natus?</p>
                </div>
                <div class="col-sm, boxes">
                    <h2 class="bold">Why choose us?</h2>
                    <p style="margin-top: 16px;">We simplify saving money for you so you don't have to Lorem ipsum dolor
                        sit amet consectetur adipisicing elit. Enim cum, maiores suscipit eligendi pariatur illum
                        nostrum similique totam atque veritatis consequatur voluptatem natus temporibus tenetur, minus
                        illo et iste nam.</p>
                </div>
            </div>
        </div>
    </div>
    <div style="background-image: linear-gradient(rgb(73, 92, 89), rgb(73, 92, 89), rgb(166, 167, 166));" class="col">
        <div id="gif_box">
            <h2>Soon you will be making it rain</h2>
            <img id="gif" src="{% static 'css/moneyz.gif' %}" alt="money gif">
        </div>
    </div>
    <footer id="foot" class="page-footer font-small blue">
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"> By yours truly</a>
        </div>
    </footer>
</body>

</html>