<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Register</title>
</head>

<body style="background-color: #F2F2F2;">
    <div class="container">
        <div class="navbar navbar-inverse navbar-fixed-top"></div>
        <nav class="navbar navbar-expand-lg">
            <ul class="nav navbar-nav ml-auto">
                <li>
                    <div>
                        <p>Already have an account? <a class="btn btn-primary" href="/sign_in">Login</a></p>
                    </div>
                </li>
            </ul>
        </nav>
        <div id="login_box">
            <div style="text-align: center;" id="box_logo">
                <img id="logo" src="{% static 'css/alpha2.png' %}" alt="alpha">
                <p style="color: black; display: inline-block; font-size: 25px; padding-top: 9px;">Alpha Budgets</p>
            </div>
        </div>
        <br>
        <div id="reg_box" style="border: 1px solid grey;" class="col">
            <h2 style="font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Create an
                account!</h2>
            <form action="/register" method="post">
                {%csrf_token%}
                <div class="form-group">
                    <label style="font-family: Georgia, 'Times New Roman', Times, serif;" for="">First Name: </label>
                    <input class="form-control col-xs-4" type="text" name="fname">
                </div>

                <div class="form-group">
                    <label style="font-family: Georgia, 'Times New Roman', Times, serif;" for="">Last Name: </label>
                    <input class="form-control" type="text" name="lname">
                </div>

                <div class="form-group">
                    <label style="font-family: Georgia, 'Times New Roman', Times, serif;" for="">Email: </label>
                    <input class="form-control" type="email" name="email">
                </div>

                <div class="form-group">
                    <label style="font-family: Georgia, 'Times New Roman', Times, serif;" for="">Password: </label>
                    <input class="form-control" type="password" name="password">
                </div>

                <div class="form-group">
                    <label style="font-family: Georgia, 'Times New Roman', Times, serif;" for="">Confirm Password:
                    </label>
                    <input class="form-control" type="password" name="cpassword">
                </div>

                <div class="container">
                    <div class="text-danger">
                        {%if messages%}
                        <ul class="list-unstyled d-inline-block">
                            {%for message in messages%}
                            <li class="text-left">
                                {{ message }}
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <br>
                <button class="btn btn-success form-control">Register</button>
            </form>
        </div>
    </div>
</body>

</html>